<a href="https://colab.research.google.com/github/abiflynn/python_pandas/blob/main/challenge_4_python_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Challenge 4: Python Pandas

In [1]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titleauthor": "1F1JOiYXStWacOBca6coNVfyVtoST7ZgD",
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "stores": "1f-GCgip7O93CpbAkYvOsc21eKnSOSHsQ", 
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "roysched": "1zPRZPoFPEMKyrNR5VSENeYFHGCBZmxbs", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM", 
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
authors = pd.read_csv(gd_path(files_id["authors"]), sep=";")
publishers = pd.read_csv(gd_path(files_id["publishers"]), sep=";")
titles = pd.read_csv(gd_path(files_id["titles"]), sep=";")
employee = pd.read_csv(gd_path(files_id["employee"]), sep=";")

## 1. From how many different states are our authors?

In [2]:
(
authors
    ['state']
    .drop_duplicates()
    .count()
)

8

## 2. How many publishers are based in the USA?

In [3]:
(
publishers
    .loc[publishers['country']=='USA']
    ['pub_id']
    .count()
)

6

## 3. What's the average quantity of titles sold per sale by store 7131?

In [4]:
(
sales
    .loc[sales['stor_id']==7131]
    ['qty']
    .mean()
)

21.666666666666668

## 4. When was the employee with the highest level hired?

In [5]:
(
employee
    .sort_values(by = 'job_lvl', ascending = False)
    .head(n = 1)
    ['hire_date']
)

26    1989-03-01 00:00:00
Name: hire_date, dtype: object

## 5. What's the average price of psychology books?

In [6]:
(
titles
    .loc[titles['type']=='psychology']
    ['price']
    .mean()
)

13.504

## 6. Which category of books has had more year-to-date sales, "business" or "popular_comp"? You can write two queries to answer this question.

### business

In [7]:
(
titles
    .loc[titles['type']=='psychology']
    ['ytd_sales']
    .sum()  
)

9939

### popular_comp

In [8]:
(
titles
    .loc[titles['type']=='popular_comp']
    ['ytd_sales']
    .sum()  
)

12875

## 7. What's the title and the price of the most expensive book?

In [9]:
(
titles
    .sort_values(by = 'price', ascending = False)
    .head(n = 1)
    [['title', 'price']]
)

                      title  price
7  But Is It User Friendly?  22.95

## 8. What's the price of the most expensive psychology book?

In [10]:
(
titles
    .loc[titles['type']=='psychology']
    ['price'].max()
)

21.59

## 9. How many authors live in either San Jose or Salt Lake City

In [11]:
(
authors
    .loc[(authors['city']=='San Jose')
        |(authors['city']=='Salt Lake City')]
    ['au_id']
    .count()
)

3