<a href="https://colab.research.google.com/github/abiflynn/python_pandas/blob/main/challenge_11_python_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Challenge 11: Python Pandas

In [1]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titleauthor": "1F1JOiYXStWacOBca6coNVfyVtoST7ZgD",
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "stores": "1f-GCgip7O93CpbAkYvOsc21eKnSOSHsQ", 
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "roysched": "1zPRZPoFPEMKyrNR5VSENeYFHGCBZmxbs", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM", 
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
titles = pd.read_csv(gd_path(files_id["titles"]), sep=";")
publishers = pd.read_csv(gd_path(files_id["publishers"]), sep=";")
employee = pd.read_csv(gd_path(files_id["employee"]), sep=";")
authors = pd.read_csv(gd_path(files_id["authors"]), sep=";")
titleauthor = pd.read_csv(gd_path(files_id["titleauthor"]), sep=";")
roysched = pd.read_csv(gd_path(files_id["roysched"]), sep=";")
stores = pd.read_csv(gd_path(files_id["stores"]), sep=";")

## 1. Using LEFT JOIN: in which cities has "Is Anger the Enemy?" been sold?

In [2]:
titles_pub =(pd.merge(publishers, titles, on="pub_id", how="left"))
titles_pub[["title", "city"]][(titles_pub["title"] == "Is Anger the Enemy?")]

                 title    city
1  Is Anger the Enemy?  Boston

## 2. Select all the book titles that have a link to the employee Howard Snyder

In [3]:
titles_employee =(pd.merge(titles, employee, on="pub_id", how="left"))
titles_employee[["title", "fname", "lname"]][(titles_employee["fname"] == "Howard") & (titles_employee["lname"] == "Snyder")]

                                             title   fname   lname
21                 You Can Combat Computer Stress!  Howard  Snyder
111                            Is Anger the Enemy?  Howard  Snyder
121                              Life Without Fear  Howard  Snyder
131  Prolonged Data Deprivation: Four Case Studies  Howard  Snyder
141            Emotional Security: A New Algorithm  Howard  Snyder

## 3. Using the `merge` of your choice: Select the book title with highest number of sales (qty)

In [4]:
titles_sales =(pd.merge(titles, sales, on="title_id", how="left"))
titles_sales
(titles_sales.groupby("title")
             .agg({"qty":"sum"})
             .sort_values("qty", ascending=False)
             .head(1)
)

                       qty
title
Is Anger the Enemy?  108.0

# 4. Select all book titles and the full name of their author(s).
      
      - If a book has multiple authors, all authors must be displayed (in 
      multiple rows).
      
      - Books with no authors and authors with no books should not be displayed.

In [5]:
pd.merge(pd.merge(titles, titleauthor, on="title_id", how="inner"),authors, on="au_id", how="inner")[["au_fname", "au_lname", "title"]]

,au_fname,au_lname,title
0,Marjorie,Green,The Busy Executive's Database Guide
1,Marjorie,Green,You Can Combat Computer Stress!
2,Abraham,Bennet,The Busy Executive's Database Guide
3,Michael,O'Leary,Cooking with Computers: Surreptitious Balance ...
4,Michael,O'Leary,"Sushi, Anyone?"
5,Stearns,MacFeather,Cooking with Computers: Surreptitious Balance ...
6,Stearns,MacFeather,Computer Phobic AND Non-Phobic Individuals: Be...
7,Dean,Straight,Straight Talk About Computers
8,Innes,del Castillo,Silicon Valley Gastronomic Treats
9,Michel,DeFrance,The Gourmet Microwave
10,Anne,Ringer,The Gourmet Microwave
11,Anne,Ringer,Is Anger the Enemy?
12,Cheryl,Carson,But Is It User Friendly?
13,Ann,Dull,Secrets of Silicon Valley
14,Sheryl,Hunter,Secrets of Silicon Valley
15,Charlene,Locksley,Net Etiquette
16,Charlene,Locksley,Emotional Security: A New Algorithm
17,Livia,Karsen,Computer Phobic AND Non-Phobic Individuals: Be...
18,Albert,Ringer,Is Anger the Enemy?
19,Albert,Ringer,Life Without Fear
20,Johnson,White,Prolonged Data Deprivation: Four Case Studies
21,Sylvia,Panteley,"Onions, Leeks, and Garlic: Cooking Secrets of ..."
22,Reginald,Blotchet-Halls,Fifty Years in Buckingham Palace Kitchens
23,Burt,Gringlesby,"Sushi, Anyone?"
24,Akiko,Yokomoto,"Sushi, Anyone?"

## 5. Select the full name of authors of Psychology books

In [9]:
title_authors = (pd.merge(pd.merge(titles, titleauthor, on="title_id", how="inner"),authors, on="au_id", how="inner"))
title_authors["full_name"] = (title_authors["au_fname"] + [" "] + title_authors["au_lname"])
title_authors_psy = (title_authors[["full_name", "type"]][title_authors["type"] == "psychology"])
title_authors_psy["full_name"].drop_duplicates()

6     Stearns MacFeather
11           Anne Ringer
16     Charlene Locksley
17          Livia Karsen
18         Albert Ringer
20         Johnson White
Name: full_name, dtype: object

## 6. Explore the table roysched and try to grasp the meaning of each column. 
   The notes below will help:
   
   - "Royalty" means the percentage of the sale price paid to the author(s).
   
   - Sometimes, the royalty may be smaller for the first few sales (which have
     to cover the publishing costs to the publisher) but higher for the sales 
     above a certain threshold.
     
   - In the "roysched" table each title_id can appear multiple times, with
     different royalty values for each range of sales.
     
   - Select all rows for particular title_id, for example "BU1111", and explore
	 the data.

In [7]:
roysched[roysched["title_id"] == "BU1111"]

   title_id  lorange  hirange  royalty
49   BU1111        0     4000       10
50   BU1111     4001     8000       12
51   BU1111     8001    10000       14
52   BU1111    12001    16000       16
53   BU1111    16001    20000       18
54   BU1111    20001    24000       20
55   BU1111    24001    28000       22
56   BU1111    28001    50000       24

## 7. Select all the book titles and the maximum royalty they can reach.
    Display only titles that are present in the roysched table.

In [8]:
title_royal = (pd.merge(roysched, titles, on="title_id", how="left"))
title_royal.groupby("title").agg({"royalty_x": "max"})

                                                    royalty_x
title
But Is It User Friendly?                                   18
Computer Phobic AND Non-Phobic Individuals: Beh...         18
Cooking with Computers: Surreptitious Balance S...         24
Emotional Security: A New Algorithm                        12
Fifty Years in Buckingham Palace Kitchens                  22
Is Anger the Enemy?                                        16
Life Without Fear                                          16
Onions, Leeks, and Garlic: Cooking Secrets of t...         24
Prolonged Data Deprivation: Four Case Studies              16
Secrets of Silicon Valley                                  16
Silicon Valley Gastronomic Treats                          20
Straight Talk About Computers                              24
Sushi, Anyone?                                             14
The Busy Executive's Database Guide                        12
The Gourmet Microwave                                      24
You Can Combat Computer Stress!                            24